<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-containter matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef>Título</th>
        <td mat-cell *matCellDef="let tema">{{tema.titulo}}</td>
    </ng-containter>

    <ng-containter matColumnDef="conteudo">
        <th mat-header-cell *matHeaderCellDef>Conteúdo</th>
        <td mat-cell *matCellDef="let tema">{{tema.conteudo}}</td>
    </ng-containter>

    <ng-containter matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef>Autor</th>
        <td mat-cell *matCellDef="let tema">{{tema.autor}}</td>
    </ng-containter>

    <ng-containter matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let Post">
            <button mat-mini-fab extended matTooltip="excluir" class="delete-button" (click)="delete(Post)">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-mini-fab extended matTooltip="atualizar" class="update-button" (click)="update(Post)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-containter>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>