<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-containter matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let tema">{{tema.name}}</td>
    </ng-containter>

    <ng-containter matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-mail</th>
        <td mat-cell *matCellDef="let tema">{{tema.email}}</td>
    </ng-containter>

    <ng-containter matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Celular</th>
        <td mat-cell *matCellDef="let tema">{{formatPhone(tema.phone)}}</td>
    </ng-containter>

    <ng-containter matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let tema">
            <button mat-mini-fab extended matTooltip="excluir" class="delete-button" (click)="delete(tema)">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-mini-fab extended matTooltip="atualizar" class="update-button" (click)="update(tema)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-containter>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>