<div class="login">
    <div class="login__container">
        <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="login__title">
                <p class="poppins-light">Efetue o login para acessar o sistema</p>
            </div>
            <div class="login__fields">
                <p class="poppins-regular">E-mail:</p>
                <input class="poppins-regular" placeholder="Digite o seu email" formControlName="email" />
            </div>
            <div class="login__fields">
                <p class="poppins-regular">Senha:</p>
                <input class="poppins-regular" placeholder="Digite a sua senha" formControlName="password" />
            </div>
            
            <div class="login__alert-message">
                @if(loginForm.invalid) {
                    @if(loginForm.hasError('invalidCredentials')) {
                        <p class="poppins-semibold">Credenciais inválidas</p>
                    }

                    @if(loginForm.hasError('generalCredentialsError')) {
                        <p class="poppins-semibold">Ocorreu um erro inesperado, tente novamente mais tarde</p>
                    }
                }
            </div>
            
            <button class="poppins-regular login__button">Entrar</button>
        </form>
    </div>
</div>